apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: devtools-apps
  namespace: argocd
spec:
  generators:
    - git:
        repoURL: https://github.com/netanelzucaim/devtools-provision.git
        revision: main
        directories:
          - path: devtools/*
  template:
    metadata:
      name: '{{path.basename}}'
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: https://github.com/netanelzucaim/devtools-provision.git
        targetRevision: main
        path: '{{path}}/charts'
        helm:
          valueFiles:
            - values.yaml
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{path.basename}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
