apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gitea.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "gitea.labels" . | nindent 4 }}
data:
  app.ini: |
    APP_NAME = {{ .Values.gitea.config.APP_NAME }}
    RUN_MODE = {{ .Values.gitea.config.RUN_MODE }}
    
    [server]
    PROTOCOL = {{ .Values.gitea.config.server.PROTOCOL }}
    DOMAIN = {{ .Values.gitea.config.server.DOMAIN }}
    ROOT_URL = {{ .Values.gitea.config.server.ROOT_URL }}
    HTTP_PORT = {{ .Values.gitea.config.server.HTTP_PORT }}
    DISABLE_SSH = {{ .Values.gitea.config.server.DISABLE_SSH }}
    SSH_PORT = {{ .Values.gitea.config.server.SSH_PORT }}
    START_SSH_SERVER = {{ .Values.gitea.config.server.START_SSH_SERVER }}
    LFS_START_SERVER = {{ .Values.gitea.config.server.LFS_START_SERVER }}
    
    [database]
    DB_TYPE = {{ .Values.gitea.config.database.DB_TYPE }}
    PATH = {{ .Values.gitea.config.database.PATH }}
    
    [repository]
    ROOT = {{ .Values.gitea.config.repository.ROOT }}
    SCRIPT_TYPE = {{ .Values.gitea.config.repository.SCRIPT_TYPE }}
    DEFAULT_BRANCH = {{ .Values.gitea.config.repository.DEFAULT_BRANCH }}
    DEFAULT_PRIVATE = {{ .Values.gitea.config.repository.DEFAULT_PRIVATE }}
    
    [security]
    INSTALL_LOCK = {{ .Values.gitea.config.security.INSTALL_LOCK }}
    SECRET_KEY = {{ .Values.gitea.config.security.SECRET_KEY }}
    INTERNAL_TOKEN = {{ .Values.gitea.config.security.INTERNAL_TOKEN }}
    
    [service]
    DISABLE_REGISTRATION = {{ .Values.gitea.config.service.DISABLE_REGISTRATION }}
    REQUIRE_SIGNIN_VIEW = {{ .Values.gitea.config.service.REQUIRE_SIGNIN_VIEW }}
    REGISTER_EMAIL_CONFIRM = {{ .Values.gitea.config.service.REGISTER_EMAIL_CONFIRM }}
    ENABLE_NOTIFY_MAIL = {{ .Values.gitea.config.service.ENABLE_NOTIFY_MAIL }}
    DEFAULT_KEEP_EMAIL_PRIVATE = {{ .Values.gitea.config.service.DEFAULT_KEEP_EMAIL_PRIVATE }}
    DEFAULT_ALLOW_CREATE_ORGANIZATION = {{ .Values.gitea.config.service.DEFAULT_ALLOW_CREATE_ORGANIZATION }}
    DEFAULT_ENABLE_TIMETRACKING = {{ .Values.gitea.config.service.DEFAULT_ENABLE_TIMETRACKING }}
    
    [webhook]
    ALLOWED_HOST_LIST = {{ .Values.gitea.config.webhook.ALLOWED_HOST_LIST }}
    
    [mailer]
    ENABLED = {{ .Values.gitea.config.mailer.ENABLED }}
    
    [openid]
    ENABLE_OPENID_SIGNIN = {{ .Values.gitea.config.openid.ENABLE_OPENID_SIGNIN }}
    ENABLE_OPENID_SIGNUP = {{ .Values.gitea.config.openid.ENABLE_OPENID_SIGNUP }}
    
    [oauth2]
    ENABLE = {{ .Values.gitea.config.oauth2.ENABLE }}
